<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a>
            <div ng-show="model.open">
                <span class="glyphicon glyphicon-option-vertical pull-left" ng-click="model.openNav()"></span>
            </div>
            <div ng-show="!model.open">
                <span class="glyphicon glyphicon-option-vertical pull-left" ng-click="model.closeNav()"></span>
            </div>
        </a>
        <div class="navbar-text pull-right" ng-show="model.userId">
            <a class="name" href="#!/profile">Hi {{model.user.firstName}}</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/home">MovieOn</a>
        </div>
    </div>
</nav>

<div id="mySidenav" class="sidenav">
    <div ng-show="model.userId">
        <a href="#!/profile">Profile</a>
    </div>
    <div ng-show="model.user.type == 'Buyer'">
        <a href="#!/like">
            Likes
            <span><i class="fa fa-thumbs-up"></i></span>
        </a>
        <a href="#!/bought">
            Bought
            <span><i class="fa fa-file-video-o"></i></span>
        </a>
        <a href="#!/wishlist">
            Wishlist
            <span><i class="fa fa-star"></i></span>
        </a>
        <a href="#!/fav">
            Favorite Sellers
            <span><i class="fa fa-user-circle-o"></i></span>
        </a>
    </div>
    <div ng-show="model.user.type == 'Seller'">
        <a href="#!/order">
            Orders
            <span><i class="fa fa-usd"></i></span>
        </a>
        <a href="#!/inventory">
            Inventory
            <span><i class="fa fa-table"></i></span>
        </a>
    </div>
    <div ng-show="model.user.type == 'Admin'">
        <a href="#!/userApprove">
            Approve Users
            <span><i class="fa fa-user-circle-o"></i></span>
        </a>
    </div>
    <div ng-show="!model.userId">
        <a href="#!/login">Login</a>
        <a href="#!/register">Register</a>
    </div>
    <div ng-show="model.userId">
        <a ng-click="model.logout()">Logout</a>
    </div>
</div>


<div class="form-center2">
    <div class="container-fluid panel panel-default" id="main">
        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
        <div ng-show="model.message" class="alert alert-success" role="alert">
            {{model.message}}
        </div>
        <form>
            <label><h4><strong>Profile</strong></h4></label>
            <div class="input-group">
                <span class="input-group-addon fixed-width">
                    <span class="glyphicon glyphicon glyphicon-user user-grey"></span>
                    <label class="registerLabel">Username</label>
                </span>
                <input ng-model="model.user.username" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" readonly>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon fixed-width">
                    <span class="glyphicon glyphicon glyphicon-pencil user-grey"></span>
                    <label class="registerLabel">First Name</label>
                </span>
                <input ng-model="model.user.firstName" type="text" class="form-control" placeholder="First Name" aria-describedby="basic-addon1">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon fixed-width">
                    <span class="glyphicon glyphicon glyphicon-pencil user-grey"></span>
                    <label class="registerLabel">Last Name</label>
                </span>
                <input ng-model="model.user.lastName" type="text" class="form-control" placeholder="Last Name" aria-describedby="basic-addon1">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon glyphicon-envelope user-grey"></span>
                    <label class="registerLabel">Email</label>
                </span>
                <input ng-model="model.user.email" type="email" class="form-control" placeholder="Email Address" aria-describedby="basic-addon1">
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon glyphicon-eye-open user-grey"></span>
                    <label class="registerLabel">Password</label>
                </span>
                <input ng-model="model.user.passwrd" type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon glyphicon-eye-open user-grey"></span>
                    <label class="registerLabel">Verify Password</label>
                </span>
                <input ng-model="model.user.verifyPasswrd" type="password" class="form-control" placeholder="Verify Password" aria-describedby="basic-addon1">
            </div>
            <div ng-repeat="address in model.addresses">
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon glyphicon-eye-open user-grey"></span>
                        <label class="registerLabel">Address {{$index + 1}}</label>
                    </span>

                    <div class="form-horizontal">
                        <input value="{{address.street1}} {{address.street2}} {{address.city}} {{address.state}} {{address.zip}}" type="text" class="form-control" aria-describedby="basic-addon1" readonly>
                        <button class="btn btn-success btn-block" ng-click="model.updateAddress(address.id)" type="button">Update Address</button>
                    </div>
                </div>
            </div>
            <div ng-repeat="phone in model.phones">
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon glyphicon-eye-open user-grey"></span>
                        <label class="registerLabel">Phone {{$index + 1}}</label>
                    </span>

                    <div class="form-horizontal">
                        <input value="{{phone.number}}" type="text" class="form-control" aria-describedby="basic-addon1" readonly>
                        <button class="btn btn-success btn-block" ng-click="model.updatePhone(phone.id)" type="button">Update Phone</button>
                    </div>
                </div>
            </div>

            <a class="btn btn-success btn-block"
               ng-click="model.update(model.user)">Update</a>
            <a class="btn btn-info btn-block" href="#!/address/new">Add Address</a>
            <a class="btn btn-info btn-block" href="#!/phone/new">Add Phone</a>
        </form>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="copyright hidden-xs">© Northeastern CCIS 2018</p>
        <div class="dropdown navbar-text pull-left" ng-if="model.user.role != 'admin'">
            <a href="" class="navbar-link dropdown-toggle" type="button" data-toggle="dropdown">
                Need help?
            </a>
            <ul class="dropdown-menu">
                <li><a href="#!/contactAdmin">Contact Admin</a></li>
            </ul>
        </div>
        <div class="dropdown navbar-text pull-right">
            <a href="" class="navbar-link dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-show="model.userId"><a href="#/profile">Profile</a></li>
                <li><a ng-click="model.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
