<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a>
            <div ng-show="model.open">
                <span class="glyphicon glyphicon-option-vertical pull-left" ng-click="model.openNav()"></span>
            </div>
            <div ng-show="!model.open">
                <span class="glyphicon glyphicon-option-vertical pull-left" ng-click="model.closeNav()"></span>
            </div>
        </a>
        <div class="navbar-text pull-right" ng-show="model.userId">
            <a class="name" href="#/user">Hi {{model.user.firstName}}</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/home">MovieOn</a>
        </div>
    </div>
</nav>
<div id="mySidenav" class="sidenav">
    <div ng-show="model.userId">
        <a href="#!/profile">Profile</a>
    </div>
    <div ng-show="model.user.type == 'Buyer'">
        <a href="#!/like">
            Likes
            <span><i class="fa fa-thumbs-up"></i></span>
        </a>
        <a href="#!/bought">
            Bought
            <span><i class="fa fa-file-video-o"></i></span>
        </a>
        <a href="#!/wishlist">
            Wishlist
            <span><i class="fa fa-star"></i></span>
        </a>
        <a href="#!/fav">
            Favorite Sellers
            <span><i class="fa fa-user-circle-o"></i></span>
        </a>
    </div>
    <div ng-show="model.user.type == 'Seller'">
        <a href="#!/order">
            Orders
            <span><i class="fa fa-usd"></i></span>
        </a>
        <a href="#!/inventory">
            Inventory
            <span><i class="fa fa-table"></i></span>
        </a>
    </div>
    <div ng-show="model.user.type == 'Admin'">
        <a href="#!/users">
            All Users
            <span><i class="fa fa-user-circle-o"></i></span>
        </a>
        <a href="#!/msgs">
            Messages
            <span><i class="fa fa-envelope"></i></span>
        </a>
        <a href="#!/orders">
            All Orders
            <span><i class="fa fa-shopping-basket"></i></span>
        </a>
    </div>
    <div ng-show="!model.userId">
        <a href="#!/login">Login</a>
        <a href="#!/register">Register</a>
    </div>
    <div ng-show="model.userId">
        <a ng-click="model.logout()">Logout</a>
    </div>
</div>
<div class="container-fluid" id="main">
    <h5><strong>Favorite Sellers</strong></h5>
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <div ng-show="model.message" class="alert alert-success" role="alert">
        {{model.message}}
    </div>
    <div class="media panel panel-primary"  ng-repeat="seller in model.sellerList">
        <div class="media-body">
            <h4 class="media-heading buy-button gap hideOverflow">Name: {{seller.seller.firstName}} {{seller.seller.lastName}}</h4>
            <h5 class="media-heading buy-button gap hideOverflow">Email: {{seller.seller.email}}</h5>
            <h5 ng-if="seller.seller.phone" class="media-heading buy-button gap hideOverflow">Phone: {{seller.seller.phone}}</h5>
            <h5 ng-if="!seller.seller.phone" class="media-heading buy-button gap hideOverflow">Phone: Not available</h5>
            <a class="imdb">
                <i class="fa fa-heart fa-2x red buy-button" style="padding-bottom: 10px" ng-click="model.unfollowSeller(seller.seller.id)"></i>
            </a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="copyright hidden-xs">© MANUJ BHARDWAJ 2017</p>
        <div class="dropdown navbar-text pull-left" ng-if="model.user.type != 'Admin'">
            <a href="" class="navbar-link dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="glyphicon glyphicon-flag"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#!/contactAdmin">Contact Admin</a></li>
            </ul>
        </div>
        <div class="dropdown navbar-text pull-right">
            <a href="" class="navbar-link dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-show="model.userId"><a href="#/profile">Profile</a></li>
                <li ng-show="model.userId"><a ng-click="model.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
