<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a>
            <div ng-show="model.open">
                <span class="glyphicon glyphicon-option-vertical pull-left" ng-click="model.openNav()"></span>
            </div>
            <div ng-show="!model.open">
                <span class="glyphicon glyphicon-option-vertical pull-left" ng-click="model.closeNav()"></span>
            </div>
        </a>
        <div class="navbar-text pull-right" ng-show="model.userId">
            <a class="name" href="#!/profile">Hi {{model.user.firstName}}</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/profile">MovieOn</a>
        </div>
    </div>
</nav>

<div id="mySidenav" class="sidenav">
    <a href="#!/profile">Profile</a>
    <a class="active-page">Approve users</a>
    <a ng-click="model.logout()">Logout</a>
</div>
<div class="container-fluid panel panel-default" id="main">
    <div ng-show="model.message" class="alert alert-info" role="alert">
        {{model.message}}
    </div>
    <div ng-show="model.message" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <h4 class="panel panel-default">Professors</h4>
    <table ng-table="model.tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
        <tr ng-repeat="row in $data">
            <td data-title="'Professor Id'" filter="{ 'id': 'number'}" sortable="'id'" class="center">
                {{row.id}}
            </td>
            <td data-title="'First Name'" filter="{ 'firstName': 'text'}" sortable="'firstName'" class="center">
                {{row.firstName}}
            </td>
            <td data-title="'Last Name'" filter="{ 'lastName': 'text'}" sortable="'lastName'" class="center">
                {{row.lastName}}
            </td>
            <td data-title="'Email'" filter="{ 'email': 'text'}" sortable="'email'" class="center">
                {{row.email}}
            </td>
            <td data-title="'Approve?Reject'" class="center">
                <label class="switch">
                    <input type="checkbox" ng-model="row.approved" ng-click="model.approveOrReject(row)">
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
    </table>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="copyright hidden-xs">© Northeastern CCIS 2018</p>
        <div class="dropdown navbar-text pull-left" ng-if="model.user.role != 'admin'">
            <a href="" class="navbar-link dropdown-toggle" type="button" data-toggle="dropdown">
                Need help?
            </a>
            <ul class="dropdown-menu">
                <li><a href="#!/contactAdmin">Contact Admin</a></li>
            </ul>
        </div>
        <div class="dropdown navbar-text pull-right">
            <a href="" class="navbar-link dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a>Profile</a></li>
                <li><a ng-click="model.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
